<section role="main" class="main">
  <header>
    <h2>{{ if alt_title }}{{ alt_title }}
      {{ else }}{{ title }}
      {{ endif }}</h2>
  </header>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <h4>Money Raised: {{ money_raised }}</h4>
      {{ content }}
    </div>
    <div class="small-12 medium-4 columns">
      {{ if photos }}
      <ul class="small-block-grid-3 thumbs">
        {{ photos sort_dir="desc" }}
        <li><a href="{{ transform src="{ photo_image }" width="1000" height="1000" action="resize" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" title="{{ photo_title }}" ><img src="{{ transform src="{ photo_image }" width="200" height="200" action="smart" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" alt="{{ photo_title }}" /></a></li>
        {{ /photos }}
      </ul>
      {{ endif }}
    </div>
  </div>
</section>
