{{ get_content from="home" }}
		<section id="{{ title|slugify|lower }}" class="banner">
			
			<div id="scene" class="scene">
				<div class="layer city" data-depth="0.10"></div>
				<div class="layer screen3" data-depth="0.40"></div>
				<div class="layer screen4" data-depth="0.50"></div>
				<div class="layer screen1" data-depth="0.20"></div>
				<div class="layer screen2" data-depth="0.30"></div>
				<div class="row">
					<div class="small-12 medium-6 medium-push-6 columns">
						<div class="layer title" data-depth="0.20"><a href="https://donorbox.org/team-cole-team-cole-donations" class="button">Donate Now!</a></div>
					</div>
					<div class="small-12 medium-6 medium-pull-6 columns">
						<div class="layer bang" data-depth="0.60"></div>
						<div class="layer man" data-depth="0.80"></div>
					</div>
				</div>
			</div>
		</section>
{{ /get_content }}

{{ get_content from="about" }}
		<section id="{{ title|slugify|lower }}" class="about">
				<header>
					<h2>{{ title }}</h2>
				</header>
				<div class="row">
					<div class="small-12 medium-8 columns">
						{{ if alt_title }}
						<h3>{{ alt_title }}</h3>
						{{ endif }}
						{{ content }}
					</div>
					<div class="small-12 medium-4 columns">
						{{ if photos }}
						<ul class="small-block-grid-2 medium-block-grid-3">
							{{ photos sort_dir="desc" }}
							<li><a href="{{ transform src="{ photo_image }" width="1000" height="1000" action="resize" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" title="{{ photo_title }}" ><img src="{{ transform src="{ photo_image }" width="150" height="150" action="smart" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" alt="{{ photo_title }}" /></a></li>
							{{ /photos }}
						</ul>
						{{ endif }}
					</div>
				</div>
		</section>
{{ /get_content }}

{{ get_content from="cole" }}
		<section id="{{ title|slugify|lower }}" class="cole">
				<header>
					<h2>{{ title }}</h2>
				</header>
				<div class="row">
					<div class="small-12 medium-8 columns">
						{{ if alt_title }}
						<h3>{{ alt_title }}</h3>
						{{ endif }}
						{{ content }}
					</div>
					<div class="small-12 medium-4 columns">
						{{ if photos }}
						<ul class="small-block-grid-3">
							{{ photos sort_dir="desc" }}
							<li><a href="{{ transform src="{ photo_image }" width="1000" height="1000" action="resize" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" title="{{ photo_title }}" ><img src="{{ transform src="{ photo_image }" width="150" height="150" action="smart" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" alt="{{ photo_title }}" /></a></li>
							{{ /photos }}
						</ul>
						{{ endif }}
					</div>
				</div>
		</section>
{{ /get_content }}

{{ get_content from="donations" }}
		<section id="{{ title|slugify|lower }}" class="donations">
				<header>
					<h2>{{ title }}</h2>
				</header>
				<div class="row">
					<div class="small-12 medium-6 medium-push-6 columns donate">
						<div id="pow" class="pow">
							<?php include "assets/img/clouds.svg";?>
						</div>
						{{ brief }}
					</div>
					<div class="small-12 medium-6 medium-pull-6 columns">
						{{ if alt_title }}
						<h3>{{ alt_title }}</h3>
						{{ endif }}
						{{ content }}
					</div>
				</div>
		</section>
{{ /get_content }}

<!--
{{ get_content from="events" }}
		<section id="{{ title|slugify|lower }}" class="events">
				<header>
				{{ if alt_title }}
					<h2>{{ alt_title }}</h2>
				{{ else }}
					<h2>{{ title }}</h2>
				{{ endif }}
				</header>
				<div class="row">
					<div class="small-12 medium-4 columns">
						<h3>Past Events</h3>
						<ul>
						{{ entries:listing folder="events" limit="5" sort_by="event_date" sort_dir="desc" }}
						{{ if event_date|in_past }}
							<li><a href="{{ url }}">{{ title }} <small> {{ event_date format="n/j/Y" }}</small></a></li>
						{{ endif }}
						{{ /entries:listing }}
						</ul>
					</div>
					<div class="small-12 medium-8 columns">
						<h3>Upcoming Events</h3>
						<ul>
						{{ entries:listing folder="events" sort_by="event_date" sort_dir="asc" }}
						{{ if event_date|in_future }}
							<li><a href="{{ url }}">{{ title }} <small> {{ event_date format="D M tS"}} @ {{ event_start }}</small></a></li>
						{{ endif }}
						{{ /entries:listing }}
						</ul>
					</div>
				</div>
		</section>
{{ /get_content }}
-->