{{ get_content from="upcoming-event" }}
	<section id="{{ title|slugify|lower }}" class="event">
		<div class="row">
			<div class="medium-8 columns">
				<header>
					<h2>Upcoming Events</h2>
				</header>
				<div class="event-slider">
						{{ entries:listing folder="upcoming-event" sort_dir="desc"}}
						<div class="content">
							<div class="row">
								<div class="medium-4 columns">
									{{ if event_photos }}
									{{ event_photos limit="1" }}
									<a href="upcoming-event/{{ title|slugify|lower }}" target="_blank"><img src="{{ transform src="{ photo_image }" width="300" height="300" action="smart" upsize="false" destination="/assets/img/events/" }}" alt="{{ photo_title }}" /></a>
									{{ /event_photos }}
									{{ endif }}
								</div>
								<div class="medium-8 columns">
										<h4>{{ event_name }}</h4>
										<p>
											{{ summary }} <a href="upcoming-events/{{ title|slugify|lower }}"><span class="link">Read more >></span></a>
										</p>
									</br>
								</div>
							</div>
						</div>
						{{ /entries:listing }}
				</div>
			</div>
{{ /get_content }}

{{ get_content from="upcoming-event"}}

			<div class="small-12 medium-4 columns upcoming-event">
				{{ entries:listing folder="upcoming-event" sort_dir="desc"}}
				<div class="date-icon">
					<img src="/assets/img/TC_Calendar_Icon.png" alt="Calendar Icon" />
				</div>
				<div class="event-content">
					<h4>{{ event_name }}</h4>
					{{ if event_date }}
					<p>Date: {{ event_date }}</br>
					{{ endif }}
						{{ if event_start }}
						Time: {{ event_start }}</br>
						{{ endif }}
						{{ if link_url }}
						Tickets: <a href="{{ link_url }}" class="link" target="_blank">
							{{ if link_name }}
							{{ link_name }}
							{{ else }}
							{{ link_url }}
							{{ endif }}
						</a></p>
						{{ endif }}
				</div>
				{{ /entries:listing }}
			</div>

		</div>
	</section>
{{ /get_content }}

{{ entries:listing folder="families" }}
	{{ if first }}
	<section id="families" class="families">
		<header>
			<h2>Families Team Cole Has Helped</h2>
		</header>
		<div class="fam-photos">
			{{ endif }}
			<div class="person">
				<a href="{{ url }}">
					<img src="{{ transform src="{ main_img }" width="300" height="300" action="smart" upsize="false" destination="/assets/img/families/{{ title|slugify|lower }}/" }}" alt="{{ if alt_title }}{{ alt_title }}{{ else }}{{ title }}{{ endif }} Photo" />
					<div class="overlay">
						<div class="overlay-caption">
							<h5>{{ if alt_title }}{{ alt_title }}{{ else }}{{ title }}{{ endif }}</h5>
							<p>{{ date format="F Y" }}</p>
						</div>
					</div>
				</a>
			</div>
	{{ if last }}
		</div>

	</section>
	{{ endif }}
{{ /entries:listing }}


{{ get_content from="about" }}
		<section id="{{ title|slugify|lower }}" class="about">
				<div class="row">
					<div class="small-12 medium-8 columns">
						<header>
							<h2>{{ if alt_title }}{{ alt_title }}{{ else }}{{ title }}{{ endif }}</h2>
						</header>
						{{ content }}
					</div>
					{{ /get_content }}

					{{ get_content from="board" }}
					<div class="small-12 medium-4 columns board">
						<h3>{{ intro_title }}</h3>

						<ul class="small-block-grid-3">
							{{ board_grid }}
							<li><a href="board#{{ photo_title|slugify|lower }}" ><img src="{{ transform src="{ photo_image }" width="200" height="200" action="smart" upsize="false" destination="/assets/img/about/resized/{{ title|slugify|lower }}/" }}" alt="{{ photo_title }}" /><h6>{{ photo_title }}</h6></a></li>
							{{ /board_grid }}
						</ul>
						<p>{{ intro_content }} <a href="/board"><span class="link">Read more >></span></a></p>
						{{ /get_content }}
					</div>
				</div>
		</section>


{{ get_content from="cole" }}
		<section id="{{ title|slugify|lower }}" class="cole">
				<header>
					<h2>{{ if alt_title }}{{ alt_title }}{{ else }}{{ title }}{{ endif }}</h2>
				</header>
				<div class="row">
					<div class="small-12 medium-8 columns">
						{{ content }}
					</div>
					<div class="small-12 medium-4 columns">
						{{ if photos }}
						<ul class="small-block-grid-3 thumbs">
							{{ photos sort_dir="asc" }}
							<li><a href="{{ transform src="{ photo_image }" width="1000" height="1000" action="smart" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" title="{{ photo_title }}" ><img src="{{ transform src="{ photo_image }" width="200" height="200" action="smart" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" alt="{{ photo_title }}" /></a></li>
							{{ /photos }}
						</ul>
						{{ endif }}
					</div>
				</div>
		</section>
{{ /get_content }}

{{ get_content from="donations" }}
		<section id="{{ title|slugify|lower }}" class="donations">
				<div class="row">
					<div class="small-12 medium-12 large-6 large-push-6 columns action">
						<div id="pow" class="pow">
							<?php include "assets/img/clouds.svg";?>
						</div>
						{{ brief }}
					</div>
					<div class="small-10 small-centered large-5 large-uncentered large-pull-6 columns ">
					<h2>{{ if alt_title }}{{ alt_title }}{{ else }}{{ title }}{{ endif }}</h2>
						{{ content }}
					</div>
				</div>
		</section>
{{ /get_content }}
