<section role="main" class="main past-event">
  <header>
    <h2>{{ if alt_title }}{{ alt_title }}
      {{ else }}{{ title }}
      {{ endif }}</h2>
      <h3>Money Raised: {{ money_raised }}</h3>
  </header>
  <div class="row">
    <div class="small-12 medium-8 columns">
      {{ content }}
    </div>
    <div class="small-12 medium-4 columns">
      {{ if event_photos }}
      <ul class="small-block-grid-3 thumbs">
        {{ event_photos sort_dir="asc" }}
        <li><a href="{{ transform src="{ photo_image }" width="1000" height="1000" action="smart" upsize="false" _transform_destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" title="{{ photo_title }}" ><img src="{{ transform src="{ photo_image }" width="200" height="200" action="smart" upsize="false" destination="/assets/img/gallery/{{ title|slugify|lower }}/" }}" alt="{{ photo_title }}" /></a></li>
      {{ /event_photos }}
      </ul>
      {{ endif }}
    </div>
  </div>
</section>
