<section role="main" class="main upcoming-event">
  <header>
    <h2>{{ event_name }}</h2>
  </header>
  <div class="row">
    <div class="small-12 medium-8 columns">
      <p><strong>Date & Time:</strong> {{ event_month }} {{ event_date }}, {{ event_start }}<br>
      <strong>Location:</strong> {{ location }}<br>
      {{ address_line1 }}<br>
      {{ address_line2 }}<br>
      {{ city }}</p>
      {{ summary }}
      <a href="{{ link_url }}"></a>
    </div>
    <div class="small-12 medium-4 columns">
      {{ if event_photos }}
      {{ event_photos limit="1" }}
      <a href="upcoming-event/{{ event_name|slugify|lower }}" target="_blank"><img src="{{ transform src="{ photo_image }" width="300" height="300" action="smart" upsize="false" destination="/assets/img/events/" }}" alt="{{ photo_title }}" /></a>
      {{ /event_photos }}
      {{ endif }}
    </div>
  </div>
</section>
