
@import "base";

$cole-blue: #6dcff6;
$light-blue: #008CBA;
$dark-blue: #215368;
$dark-text: #222;
$green: #576D3E;

@font-face {
	font-family: 'icons';
	src:url('../fonts/icons.eot?yp5zn1');
	src:url('../fonts/icons.eot?#iefixyp5zn1') format('embedded-opentype'),
		url('../fonts/icons.ttf?yp5zn1') format('truetype'),
		url('../fonts/icons.woff?yp5zn1') format('woff'),
		url('../fonts/icons.svg?yp5zn1#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e601";
}

.photo {
	position: relative;
	float: left;
	padding: 5px;
	background-color: #fff;
	box-shadow: 0 1px 3px hsla(0,100%,0%,0.2);
	margin-bottom: 20px;
	&:before, &:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: #777;
		box-shadow: 0 15px 10px hsla(0,100%,0%,0.5);
		transform: rotate(-3deg);
	}
	&:after {
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
}

h2 {
	font-family: "tekton-pro",sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
h3 {
	font-family: "tekton-pro",sans-serif;
	font-size: $h4-font-size;
	color: #215368;
	font-weight: 700;
	text-transform: uppercase;
}

h4 { font-size: $h5-font-size; }
a {
    color: #222;
    line-height: inherit;
    text-decoration: none;
		transition: all 0.2s ease-in-out;
}

a, a:hover {
	transition: all 0.2s ease-in-out;
	color: #222;
}

.link {
	color: #008CBA;
}

[class*="block-grid-"]>li {
 	padding: 0 1px 2px;
 	a {
	 	display: block;
	 	border: 8px solid hsla(0,0%,100%,0.1);
	 	&:hover {
		 	border-color: hsla(0,100%,0%,0.5);
	 	}
 	}
 	img {
	 	border: 1px solid hsla(0,100%,0%,0.5);
 	}
}

// Header section

header[role="banner"] {
	position: relative;
	z-index: 500;
}

.nav-holder {
	border-bottom: 3px solid #000;
	box-shadow: 0px 3px 5px hsla(0,100%,0%,0.4);
}

.top-bar {
	.name {
		height: auto;
		h1 {
			line-height: 1;
			text-indent: -9999px;
		}
	}
	.toggle-topbar.menu-icon {
		margin-top: 10px;
		top: 50%;
	}
}


.button {
	font-family: "tekton-pro",sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 21px;
}

.top-bar-section ul li>a { text-transform: uppercase; font-weight: bold; }

.logo {
	div {
		width: 192px;
		height: 30px;
		background: transparent url(../img/logo-small.svg) no-repeat 0 0;
		background-size: 192px 30px;
		float: left;
		margin: 15px;
	}
	@media #{$medium-up} {
		position: absolute;
		bottom: 0;
		margin-bottom: -60px;
		z-index: 300;
		margin-left: 20px;
		width: 120px;
		height: 120px;
		&:before {
			content: '';
			position: absolute;
			background-color: #fff;
			left: 0;
			bottom: 0;
			width: 120px;
			height: 60px;
			border-radius: 0 0 100px 100px;
			border: 3px solid #000;
			border-top: none;
			box-shadow: 0px 5px 5px hsla(0,100%,0%,0.4);
		}
		div {
			float: none;
			position: relative;
			margin: 15px 0 0 15px;
			width: 90px;
			height: 90px;
			background: transparent url(../img/logo.svg) no-repeat 0 0;
			background-size: 90px 90px;
		}
	}
}

.main {
	> section {
		position: relative;
		border-bottom: 3px solid #000;
		margin: 0;
		padding: 50px 0;
		.event {
			padding-bottom: 5px;
		}
		&.past-event, &.board-members {
			border-bottom: none;
		}
		> header {
			position: relative;
			@include grid-row();
			padding-left: rem-calc(15);
			padding-right: rem-calc(15);
		}
		h2 {
			font-family: "tekton-pro",sans-serif;
			font-weight: 700;
			text-transform: uppercase;
		}
		h3 {
			font-weight: 700;
			text-transform: uppercase;
		}
		.sidebar {
			margin-top: 1rem;
			h3 {
				margin-bottom: .9rem;
			}

		}

	}
	.columns { position: relative; }
}
.vcard {
	border: none; padding: 0;
}

/* !Banner */
.banner {
	position: relative;
	background-color: #6dcff6;
	overflow: hidden;
	border-bottom: 3px solid #000;
	.city { background: transparent url(../img/banner/city.jpg) no-repeat  50% 100%; }
	.bang { background: transparent url(../img/banner/bang.png) no-repeat  50% 50%; background-size: contain; }
	.man { background: transparent url(../img/banner/hero.svg) no-repeat  50% 50%; }
	.title { background: transparent url(../img/banner/title.svg) no-repeat  50% 0;}
	.screen1 { background: transparent url(../img/banner/screen-dark.png) no-repeat  50% 50%; background-size: contain; }
	.screen2, .screen3 { background: transparent url(../img/banner/screen-light.png) no-repeat  50% 50%; background-size: contain; }
	.scene {
		padding: 0;
		margin: 0;
		position: relative;
		height: 500px;
		.row {
			position: absolute; top: 0; margin: 0 auto; left: 0; right: 0;
			.medium-pull-6 { z-index: 1; }
			.medium-push-6 { z-index: 10; }
		}
		.layer { position: absolute; }
		.city { background-size: 683px 236px; }
		.title { width: 474px; height: 400px; }
		.screen1 { left: 0; top: 0; opacity: 0.35; }
		.screen2 { left: auto!important; top: auto!important; right: 0; bottom: 0; }
		.screen3 { top: auto!important; left: 0; bottom: 0; }
		.button {
			@include button-size($padding: $button-med);
			display: block;
			width: 200px;
		}
		@media #{$small-up} {
			.screen1, .screen2, .screen3, .screen4 { width: 240px; height: 240px; }
			.city { width: 100%; height: 500px; }
			.bang { width: 272px; height: 260px; margin: 140px auto 0 auto; left: 0; right: 0; }
			.man { width: 188px; height: 240px; margin: 160px auto 0 auto; left: 0; right: 0; }
			.title { width: 237px; height: 200px; margin: 30px auto 0 auto; left: 0; right: 0; }
			.screen1 { margin: -150px 0 0 -150px; }
			.screen2 { margin: 0 -80px -80px 0; }
			.screen3 { margin: 0 0 -80px -80px; }
			.button {
				margin: 375px auto 0 auto;
			}
		}
		@media #{$medium-up} {
			height: 400px;
			.screen1, .screen2, .screen3, .screen4 { width: 360px; height: 360px; }
			.city { width: 100%; height: 400px; background-size: 1025px 354px; }
			.bang { width: 407px; height: 390px; margin: -60px -20px 0 0px; left: auto!important; }
			.man { width: 282px; height: 360px; margin: 20px 30px 0 0;  left: auto!important; }
			.title { width: 356px; height: 300px; margin: 50px 0 0 0; left: 0; right: auto; }
			.screen1 { margin: -10% 0 0 5%; }
			.screen2 { margin: 0 0 -10% 0; }
			.screen3 { margin: 0 0 -80px -5%; }
			.button {
				@include button-size($padding: $button-lrg);
				margin-top: 230px;
			}
		}
		@media #{$large-up} {
			height: 500px;
			.screen1, .screen2, .screen3, .screen4 { width: 480px; height: 480px; }
			.bang { width: 543px; height: 520px; margin: -70px 0 0 -70px; }
			.man { width: 376px; height: 480px; margin: 20px 60px 0 50px;  }
			.city { width: 100%; height: 500px; background-size: 1366px 472px; }
			.title { width: 474px; height: 400px; margin: 70px 0 0 0; left: auto!important; right: 0; }
			.button {
				margin-top: 300px;
			}
		}
	}
	.short {
		@include grid-row();
		height: 100px;
		position: relative;
		>div {
			position: absolute;
		}
		.button {
			float: right;
			margin: 25px 10px 0 0;
		}
		.city { width: 520px; height: 180px; left: -100px; bottom: -20px; background-size: 520px 180px; }
		.bang { display: none; width: 183px; height: 166px; left: -35px; top: -32px; }
		.man { display: none; width: 116px; height: 152px; left: 5px; top: 10px; }
		.title { width: 192px; height: 95px; left: 10px; top: 15px; }
		@media only screen and (max-width: 320px) {
			.title { width: 120px; height: 60px; top: 20px; }
		}
		@media #{$medium-up} {
			.city { left: -100px; }
			.bang { display: block; left: 80px; top: -32px; }
			.man { display: block; left: 120px; top: 10px; }
			.title { left: 250px; top: 15px; }
		}
	}
}

// Events

.upcoming-event {
	background:  linear-gradient(rgba(255,252,227, 1.6), rgba(255,252,227, 0.6)), url(../img/events/TC_Upcoming_Events_BG.jpg) no-repeat;
	background-position: bottom;
	background-size: 100%;
	.event-address {
		padding-left: 4.4em;
	}
	.event-content .row {
		margin: 3% 0 3% 0;
		min-height: 90px;
	}
	.upcoming-event-date-content h4 {
		margin-bottom: 0;
	}
	.upcoming-event-date-logo {
		background: transparent url(../img/events/TC_Calendar_Icon.png) no-repeat;
		background-size: 100%;
		height: 90px;
		width: 85px;
		position: absolute;
		margin-left: 25%;
	}
	.upcoming-event-date {
		position: relative;
		margin: 30px auto;
		text-align: center;
		font-family: "tekton-pro",sans-serif;
		padding-top: 12%;
		p {
		  text-transform: uppercase;
			margin: 0;
			line-height: .4;
		}
		h5 {
			font-weight: 400;
			color: $green;
		}
	}

	@media #{$small-up} {
		.upcoming-event-header {
			padding-left: 1rem;
		}
		.upcoming-event-date-content {
			padding-left: 35%;
		}
		.upcoming-event-date-logo {
			margin-left: 0;
		}
	}
	@media #{$medium-up} {
		.upcoming-event-date-content {
			padding-left: 1%;
		}
		.upcoming-event-date-logo {
			margin-left: 5%;
		}
		h3 {
			margin-top: 18px;
			margin-bottom: 22px;
		}
		.event-img {
			margin-top: -50px;
		}
		margin-bottom: 0;
	}
}

// Past Events section

.past-events-section {
	header {
		padding: 0px 15px 15px;
	}
	h2 {
		margin-bottom: 0;
	}
	p.summary-text{
		padding-right: 2.3em;
	}
	@media #{$small-only} {
		.past-events-slider-container {
			padding: 0 1em;
		}
	}
	@media #{$medium-only} {
		.past-events-slider-container {
			padding: 0 1em;
		}
	}
}

section#past-events {
	background: url(../img/events/TC_Past_Events_BG.jpg) no-repeat  50% 100%;
	background-size: cover;
	border-bottom: none !important;
}





// Families section

.families {
	padding: 0 !important;
	border-top: 3px solid #000;
	background: #9addf9 url(../img/burst.jpg) no-repeat 0 0;
	h2 {
		margin: 50px 0 20px 0;
	}
}

/* !Family Photos Carousel */
.fam-photos {
	border-top: 3px solid #000;
	padding: 0;
	.person {
		height: 200px;
		overflow: hidden;
		position: relative;
		@media #{$medium-up} {
			height: 250px;
		}
	}
	h5, p, img {
		transition: all 0.4s ease-in-out;
	}
	img {
		width: 100%;
		height: auto;
	}
	.overlay {
		background: rgba(#000, .4);
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s ease-in-out;
	}
	.overlay-caption {
		color: #fff;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}
		h5,p {
		color: $white;
		margin: 0;
		opacity: 0;
	}
	h5 {
		font-weight: 500;
		transform: translate3d(0, -50%, 0);
	}
	p {
		transform: translate3d(0, 50%, 0);
	}
	.person:hover {
		.overlay {
			opacity: 1;
		}
		h5, p {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
		img {
			transform: scale(1.1);
		}
	}
}

.family {
	padding-bottom: 40px;
	header {
		padding: 50px 15px 15px;
		h2 {
			margin-bottom: 0;
		}
	}

}


// About / Board members

.about {
	background: #fff url(../img/toon2.png) repeat; /* background-attachment: fixed; */
}
.board {
	h6 {
		// text-transform: uppercase;
		font-size: 1em;
		color: $light-blue;
		// font-weight: bold;
	}
	@media #{$medium-up}{
		h3 {
			margin-top: 18px;
		}
		p {
			margin-top: 4px;
			margin-bottom: 5px;
		}
		ul {
			margin-top: 10px;
		}
	}
}

.board-members {
	header {
		padding: 0px 15px 15px;
		h2 {
			margin-bottom: 0;
		}
	}
	.board-member {
		margin-bottom: 45px;
		@media #{$medium-up} {
			margin-bottom: 15px;
		}
	}
}

/* Cole Hexum section */

.cole { background-color: #FFFCE3; /* background: #FFFCE3 url(../img/dots-dark.png) repeat-x; background-attachment: fixed; background-size: 14px 366px; */ }


/* !Donations section */
.donations {
	background-color: #9addf9;
	background: #9addf9 url(../img/burst.jpg) no-repeat 50% 0;
	background-size: 660px 623px;
	overflow: hidden;
	text-align: center;
	h2 {
		color: #314E5A;
	}
	p { font-style: italic; font-size: 1.2rem; line-height: 2rem; color: #215368; }
	.pow {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		text-align: center;
		width: 100%;
		height: 375px;
	}
	.allclouds {
		width: 486px;
		height: 375px;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
	}
	.cloud, .lines, .puffs1, .puffs2, .zoom { transform-origin: 50% 50%; }
	.cloud { animation: float 5s linear infinite; }
	.puffs1 { animation: pulse 10s ease-in-out infinite; }
	.lines { animation: pulse 5s ease-in-out infinite; }
	.puffs2 { animation: puff 9s ease-in-out infinite; }
	.zoom { animation: zoom 9s ease-in-out infinite; }
	.button {
	@include button-size($padding: $button-med);
		margin-bottom: .5rem;
	}
	.columns {
		z-index: 10;
	}
	.action {
		z-index: 15;
		text-align: center;
		padding-top: 150px;
		margin-bottom: 150px;
	}
	@media #{$medium-up} {
		background-size: 880px 830px;
		background-position: 50% -75px;
		.pow {
			margin-top: 0;
			margin-left: 0;
		}
		.action {
			text-align: center;
		}
	}
	@media #{$large-up} {
		text-align: left;
		background-image: none;
		.pow {
			margin-top: -300px;
			margin-left: -175px;
			width: 880px;
			height: 830px;
			background: #9addf9 url(../img/burst.jpg) no-repeat 50% 0;
		}
		.allclouds {
			width: 648px;
			height: 500px;
		}
		.action {
			z-index: 5;
			padding-top: 80px;
			margin-bottom: 0;
		}
		.button {
			@include button-size($padding: $button-lrg);
		}
	}
	.payments {
		position: relative;
		list-style-type: none;
		margin: 0;
		text-align: center;
		li {
			display: inline-block;
			width: 38px;
			height: 25px;
			text-indent: -9999px;
			overflow: hidden;
			background: transparent url(../img/payments.png) no-repeat 0 0;
			background-size: 38px 100px;
		}
		.card-visa { background-position: 50% 0; }
		.card-mc { background-position: 50% -50px; }
		.card-amex { background-position: 50% -25px; }
		.card-disc { background-position: 50% -75px; }
	}
	.vcard {
		margin-top: rem-calc(-15);
		h4 {
			margin-bottom: 0;
		}
		.tel {
			margin-top: rem-calc(10);
			font-style: italic;
		}
	}
}








/* !Footer */
.footer {
	border-top: 1px solid #e4e4e4;
	padding: 30px 0;
	.connect {
		float: right;
		li {
			float: left;
			margin-left: 10px;
			font-size: 18px;
		}
		a {
			display: block;
			width: 40px;
			line-height: 40px;
			color: #fff;
			text-align: center;
			background-color: #9addf9;
			&:hover {
				background-color: darken(#9addf9,20%);
			}
		}
		.icon-facebook {
			background-color: #3B5898;
			&:hover {
				background-color: darken(#3B5898,20%);
			}
		}
	}
}




/* !Animations */
@keyframes float {
	0% { transform: rotate(0deg) translateX(5px) rotate(0deg) scale(1.0); }
	50% { transform: rotate(180deg) translateX(5px) rotate(-180deg) scale(0.97); }
	100% { transform: rotate(360deg) translateX(5px) rotate(-360deg) scale(1.0); }
}

@keyframes pulse {
	0% { transform: scale(1.0); }
	50% { transform: scale(0.95); }
	100% { transform: scale(1.0); }
}

@keyframes puff {
	0% { opacity: 0.0; }
	25% { opacity: 0.0; }
	50% { opacity: 1.0; }
	100% { opacity: 0.0; }
}

@keyframes zoom {
	0% { transform: scale(0.6); }
	100% { transform: scale(1.0); }
}


@import "plugins";
