<div class="row">
  <div class="small-6 large-12 columns">
    <h3>Categories</h3>
    <ul class="side-nav">
      {{ taxonomy:listing folder="{{ blog_name }}" type="categories" }}
        <li><a href="{{ url }}">{{ name }} ({{ count }})</a></li>
      {{ /taxonomy:listing }}
    </ul>
  </div>
  <div class="small-6 large-12 columns">
    <h3>Tags</h3>
    <ul class="side-nav">
      {{ taxonomy:listing folder="{{ blog_name }}" type="tags" }}
        <li><a href="{{ url }}">{{ name }} ({{ count }})</a></li>
      {{ /taxonomy:listing }}
    </ul>
  </div>
</div><!-- END .row -->