<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
<head>
<meta charset="utf-8">

{{ theme:partial src="_meta" }}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

{{# Place favicon.ico and apple-touch-icon.png in the root directory. #}}

<!-- Styles -->

<!--[if gte IE 8]><!-->
<link rel="stylesheet" href="/assets/css/style.css">
<!--<![endif]-->

<!--[if lte IE 7]>
<link rel="stylesheet" media="all" href="http://universal-ie6-css.googlecode.com/files/ie6.0.3.css">
<![endif]-->

<!-- Javascript -->
<script src="/assets/js/modernizr-min.js"></script>
<script src="//use.typekit.net/fjh6bej.js"></script>
<script>try{Typekit.load();}catch(e){}</script>

<!-- feeds -->
<link rel="alternate" type="application/rss+xml" href="{{ _site_url }}/feed" title="{{ _site_name }} RSS Feed">

<!-- analytics -->
{{ theme:partial src="_analytics" }}

</head>
