<footer class="footer">
	<div class="row">
		<div class="large-12 columns">
			<small>&copy; {{ current_date format="Y" }} <a href="{{ _site_url }}">{{ _site_name }}</a></small>
			<ul>
				<li><a href="https://www.facebook.com/groups/350002098426940/">Facebook</a></li>
				<li><a href="mailto:teamcole8@comcast.net">Contact</a></li>
			</ul>
			<ul>
				<li><a href="http://joyrx.org/">Children's Cancer Association</a></li>
				<li><a href="http://www.legacyhealth.org/en/locations/hospitals/randall-childrens-hospital-at-legacy-emanuel.aspx">Randall's Children's Hospital</a></li>
				<li><a href="http://www.ohsu.edu/xd/health/services/doernbecher/">Doernbecher Children's Hostpital</a></li>
				<li><a href="http://www.4kidswithcancer.org/">Candlelighters</a></li>
			</ul>
		</div>
	</div>
</footer>
  
{{# 
====================================
  NOTES
====================================

This is the main footer partial.

For more information on partials see http://statamic.com/learn/theming/partials.
  
#}}
