<div class="contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		<div class="logo">
			<div></div>
<!-- 			<img src="/assets/img/logo.svg" alt="Team Cole Logo" /> -->
		</div>
		<ul class="title-area">
			<li class="name show-for-sr">
				<h1><a href="{{ _site_url }}">{{ _site_name }}</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
<!--
				<li>
					<a href="{{ homepage }}">Home</a>
				</li>
-->
				{{ nav from="/" max_depth="1" exclude="families|events" }}
				<li>
					<a href="#{{ title|slugify|lower }}">{{ title }}</a>
				</li>
				{{ /nav }}
			</ul>
		</section>
	</nav>
</div>

{{# 
====================================
  NOTES
====================================

This is the main nav partial.

It uses the nav tag to render a list of navigation items. For more information on the nav tag see http://statamic.com/learn/documentation/tags/nav.
  
#}}