<div class="nav-holder contain-to-grid">
	<nav class="top-bar" data-topbar role="navigation">
		<div class="logo">
			<div></div>
		</div>
		<ul class="title-area">
			<li class="name show-for-sr">
				<h1><a href="{{ _site_url }}">{{ _site_name }}</a></h1>
			</li>
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>
		<section class="top-bar-section">
			<ul class="right drop-down-menu">
				{{ if !segment_1 }}
				{{ nav from="/" max_depth="1" exclude="events|upcoming-event|board|events-old" }}
				<li><a class="scroll" href="#{{ title|slugify|lower }}">{{ title }}</a></li>
				{{ /nav }}
				{{ else }}
					<li><a href="{{ homepage }}">Home</a></li>
				{{ endif }}
			</ul>
		</section>
	</nav>
</div>

{{#
====================================
  NOTES
====================================

This is the main nav partial.

It uses the nav tag to render a list of navigation items. For more information on the nav tag see http://statamic.com/learn/documentation/tags/nav.

#}}
